<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
    th:replace="~{fragments/layout :: layout(~{::title}, ~{::link}, 'error', ~{::main},~{::script})}">

<head>
    <title>AddVenture - 403|Acceso Denegado</title>
    <link rel="stylesheet" th:href="@{/css/error_403.css}">
</head>

<body>
    <main>
        <div class="error-wrapper">
            <div class="error-content">
                <h1>403</h1>
                <h2>Acceso denegado</h2>
                <p>No tienes permiso para acceder a esta página.<br>
                    Solo los viajeros autorizados pueden continuar.</p>
                <a href="/" class="btn-home">
                    <i class="bi bi-door-closed-fill"></i> Volver al inicio
                </a>
            </div>
            <div class="error-image"></div>
        </div>
    </main>
    <script></script>
</body>

</html>